.smile-controls {
    height: 40px;
    background-color: black;
    z-index: 10;
    top: -4px;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}
.smile-controls > * {
    color: white;
    text-decoration: none;
    padding: 10px 6px 12px 6px;
    display: inline-block;
}
.smile-controls a {
    font-size: 24px;
    padding: 6px 6px 8px 6px;
}
.smile-controls a:hover {
    color: hotpink;
}

.smile-button-play {
    float: left;
}

.smile-time-display,
.smile-volume-progress,
.smile-button-fullscreen,
.smile-button-volume {
    float: right;
}

.smile-time-progress {
    display: block;
    overflow: hidden;
}

.smile-button-play, .smile-button-volume, .smile-button-fullscreen {
    width: 24px;
    text-align: center;
}

.smile-time-progress,
.smile-volume-progress {
    height: 30px;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    border: 1px solid #AAA;
    background-color: #222
}

.smile-time-progress .smile-time-progress-bar,
.smile-time-progress .smile-time-progress-buffer,
.smile-volume-progress .smile-volume-progress-bar {
    height: 30px;
    background-color: hotpink;
    display: inline-block;
}

.smile-time-progress .smile-time-progress-buffer {
    background-color: #777;
}

.smile-volume-progress {
    width: 100px;
}

@media (max-width: 600px) {
    .smile-volume-progress {
        width: 50px;
        display: none;
    }
}